{extend name="common@create" /}

{block name="form"}
    <form class="layui-form layui-form-pane">
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>单位名称
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.title|default=''}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="jiancheng" class="layui-form-label">
                  <span class="x-red">*</span>单位简称
              </label>
              <div class="layui-input-block">
                  <input type="text" id="jiancheng" name="jiancheng" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$list.data.jiancheng|default=''}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="biaoshi" class="layui-form-label">
                  单位标识
              </label>
              <div class="layui-input-block">
                  <input type="input" id="biaoshi" name="biaoshi" lay-verify=""
                  autocomplete="off" class="layui-input" value="{$list.data.biaoshi|default=''}">
              </div>
          </div>
          <div class="layui-form-item">
    		    <label for="xingzhi" class="layui-form-label"><span class="x-red">*</span>单位性质</label>
    		    <div class="layui-input-block">
    		    	{php} $category = getCategory(101);{/php}
    		      <select name="xingzhi" lay-verify="required">
    		      	<option value=""></option>
    		      	{volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="name"}
                    {eq name="$list.data.xingzhi" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
    		        {/volist}
    		      </select>
    		    </div>
    		  </div>
          <div class="layui-form-item">
            <label for="jibie" class="layui-form-label"><span class="x-red">*</span>单位级别</label>
            <div class="layui-input-block">
              {php} $category = getCategory(102);{/php}
              <select name="jibie" lay-verify="required">
                <option value=""></option>
                {volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.jibie"}
                    {eq name="$list.data.jibie" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label for="xueduan" class="layui-form-label">
              <span class="x-red">*</span>学段
            </label>
            <div class="layui-input-block">
              {php} $category = getCategory(103);{/php}
              <select name="xueduan" lay-verify="required">
                <option value=""></option>
                {volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.xueduan"}
                    {eq name="$list.data.xueduan" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
              <label for="paixu" class="layui-form-label">
                  排序
              </label>
              <div class="layui-input-block">
                  <input type="input" id="paixu" name="paixu" lay-verify=""
                  autocomplete="off" class="layui-input" value="">
              </div>
          </div>
          <div class="layui-form-item" style="text-align: center;">
              <button  class="layui-btn" lay-filter="myform" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}
    <script>
      layui.use(['form','table'], function(){
        var form = layui.form;
        //当你在iframe页面关闭自身时
                // var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                // layer.close(index); //再执行关闭 
        table = layui.table;
        parent.table.reload('test', {
          url: '/api/table/search'
        });



        //监听提交
        form.on('submit(myform)', function(data){
          $.ajax({
            url:"{$list.set.url}",
            type:"{$list.set.formpost}",
            data:data.field,
            dataType:'json',
            success:function(result){
              if(result.val == 1)
              {
                layer.msg(result.msg,{
                  icon: 1,
                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
              }else{
                layer.msg(result.msg,{
                  icon: 1,
                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
                }
            },
            error:function(xhr,status,error) {
              layer.msg('数据处理错误',{
                  icon: 1,
                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
              });
              layer.close(layer.index);
            }
          });
          return false;
        });

      });
  </script>
{/block}

