{extend name=".././view/list.html" /}
{block name="jsset"}
{/block}
{block name="nav"}
<span class="layui-breadcrumb">
	<a href="">管理员管理</a>
	<a href="">角色管理</a>
	<a>角色列表</a>
	<a><cite>角色用户对应表</cite></a>
</span>
{/block}
{block name="search"}
<div class="layui-form-item">
	<div class="layui-form-item">
		<label for="searchval" class="layui-form-label">
			关键字
		</label>
		<div class="layui-input-block">
			<input type="text" id="searchval" name="searchval" autocomplete="off" class="layui-input" placeholder="输入关键字并回车">
		</div>
	</div>
	<div class="layui-form-item">
		<label for="school_id" class="layui-form-label"><span class="x-red">*</span>单位</label>
		<div class="layui-input-block">
			<select name="school_id" id="school_id">
			</select>
		</div>
	</div>
	<input type="hidden" id="group_id" name="group_id" value="{$list.group_id}">
</div>
<div class="layui-form-item" style="text-align: right;">
	<button class="layui-btn" lay-filter="searchSubmit" lay-submit="">搜索</button>
</div>
{/block}
{block name="table"}
<table id="tabledemo" lay-filter="mytable" lay-size="sm"></table>
{/block}
{block name="myjs"}
<!-- 表格上面按钮模板 -->
<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-danger" lay-event="dels">
			<i class="iconfont">&#xe69d;</i> 批量删除
		</button>
		<button class="layui-btn" lay-event="add">
			<i class="iconfont">&#xe6b9;</i> 分配
		</button>
    <button class="layui-btn" lay-event="all">
      <i class="iconfont">&#xe6b9;</i> 全部
    </button>
	</div>
</script>
<!-- 记录操作按钮模板 -->
<script type="text/html" id="barDemo">
	<a class="layui-btn-xs" lay-event="del" title="删除"><i class="layui-icon">&#xe640;</i></a>
</script>
<!-- 表格操作 -->
<script>
// 提交搜索条件后重载表格
layui.use(['table', 'mytable', 'createInput', 'form'], function() {
	var table = layui.table,
		cInput = layui.createInput,
		form = layui.form,
		mytable = layui.mytable;

	cInput.schoolSelect('school_id', '教研组', '区级');

	// 设置列
	options.cols = [
		[ //表头
			{ type: 'checkbox', fixed: 'left' },
			{
				field: 'uid',
				title: '用户名',
				sort: true,
				width: 120,
				templet: function(d) {
					if (d.jsUser) {
						return d.jsUser.xingming;
					}
				}
			},
			{
				field: 'uid',
				title: '帐号',
				sort: true,
				width: 120,
				templet: function(d) {
					if (d.jsUser) {
						return d.jsUser.username;
					}
				}
			},
			{
				field: "school_id",
				title: '单位',
				sort: false,
				minWidth: 120,
				templet: function(d) {
					if (d.jsUser) {
						if (d.jsUser.adSchool) {
							return d.jsUser.adSchool.title;
						}
					}
				}
			},
			{ field: 'id', title: '操作', toolbar: '#barDemo', width: 140 }
		]
	];

	// 获取筛选条件并加载表格
	options.where = form.val("search");
	userTable = table.render(options); //获取数据并渲染

	//表头工具栏事件
	table.on('toolbar(mytable)', function(obj) {
		switch (obj.event) {
			case 'dels':
				var checkStatus = table.checkStatus('mytable'); //idmytable 即为基础参数 id 对应的值
				mytable.delAll(checkStatus, '/admin/authgroupaccess/delete', 'mytable');
				break;
			case 'add':
				xadmin.open('角色用户分配', '/admin/authgroupaccess/create/' + "{$list.group_id}", '500', '300', false);
				break;
      case 'all':
        $.ajax({
          url: '/admin/authgroupaccess/all',
          type: 'POST',
          data: {
            group_id: "{$list.group_id}"
          },
          success: function(result) {
            if (result.val == 1) {
              obj.del();
              layer.msg(result.msg);
            } else {
              layer.msg(result.msg, function() {});
            }
          },
          error: function(result) {
            layer.msg('数据扔半道啦。', function() {});
          },
        });
        break;
		};
	});

	//监听行工具条
	table.on('tool(mytable)', function(obj) {
		var data = obj.data; //获得当前行数据
		var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
		var tr = obj.tr; //获得当前行 tr 的DOM对象
		switch (layEvent) {
			case 'del': // 删除
				mytable.del(obj, "/admin/authgroupaccess/delete");
				break;
		};
	});

});

</script>
{/block}
