{extend name="common@create" /}

{block name="form"}
    <div class="layui-form-item">
      <button type="button" class="layui-btn" id="test1">
        <i class="layui-icon">&#xe67c;</i>上传图片
      </button>
    </div>
    <form class="layui-form layui-form-pane" lay-filter="myform">
          <div class="layui-form-item">
              <label for="xingming" class="layui-form-label">
                  <span class="x-red">*</span>文件路径
              </label>
              <div class="layui-input-block">
                  <input type="text" id="xingming" name="xingming" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.xingming|default=''}" placeholder="中文2-25个字符">
              </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">
                  <span class="x-red">*</span>单位
              </label>
              <div class="layui-input-inline" style="width: 45%; margin-right: 20px">
                <input type="text" name="quanpin" placeholder="全拼" autocomplete="off" class="layui-input" lay-verify="required" value="{$list.data.quanpin|default=''}">
              </div>
              <div class="layui-input-inline" style="width: 25%;">
                <input type="text" name="shoupin" placeholder="简拼" autocomplete="off" class="layui-input" lay-verify="required" value="{$list.data.shoupin|default=''}">
              </div>
            </div>
          </div>
          <div class="layui-form-item" style="text-align: right;">
              <button  class="layui-btn" lay-filter="mysubmit" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}
<script>

layui.use('upload', function(){
  var upload = layui.upload;
   
  //执行实例
  var uploadInst = upload.render({
    elem: '#test1' //绑定元素
    ,url: "{:url('upload')}" //上传接口
    ,done: function(res){
      //上传完毕回调
    }
    ,data: {
      text: '教师信息'

    }
    ,acceptMime:'.xls,.xlsx'
    ,exts:'xls|xlsx'
    ,auto:true
    ,error: function(){
      //请求异常回调
    }
  });
});

</script>
{/block}

