{extend name="common@create" /}

{block name="form"}
    <form class="layui-form layui-form-pane">
          <div class="layui-form-item">
              <label for="webtitle" class="layui-form-label">
                  <span class="x-red">*</span>系统标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="webtitle" name="webtitle" required="true" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.webtitle}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="keywords" class="layui-form-label">
                  <span class="x-red">*</span>关键字
              </label>
              <div class="layui-input-block">
                  <input type="text" id="keywords" name="keywords" required="true" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$list.keywords}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="description" class="layui-form-label">
                  <span class="x-red">*</span>描述
              </label>
              <div class="layui-input-block">
                  <input type="input" id="description" name="description" required="true" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$list.description}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="thinks" class="layui-form-label">
                  <span class="x-red">*</span>感谢
              </label>
              <div class="layui-input-block">
                  <input type="input" id="thinks" name="thinks" required="true" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$list.thinks}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="danwei" class="layui-form-label">
                  <span class="x-red">*</span>使用单位
              </label>
              <div class="layui-input-block">
                  <input type="input" id="danwei" name="danwei" required="true" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$list.danwei}">
              </div>
          </div>
          <div class="layui-form-item" style="text-align: center;">
              <button  class="layui-btn" lay-filter="edit" lay-submit="">
                  设置
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}
    <script>
      layui.use(['form','layer'], function(){
        var form = layui.form;    

        //监听提交
        form.on('submit(edit)', function(data){
          $.ajax({
            url:"sysbase/{$list.id}",
            type:"PUT",
            data:data.field,
            dataType:'json',
            success:function(result){
                layer.msg(result.msg);
            },
            error:function(xhr,status,error) {
              layer.msg(xhr + '-' + status + '-' + error);
            }
          });
          return false;
        });


      });
  </script>
{/block}

