{extend name="common@list" /}
{block name="topnav"}
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span> 系统管理
		<span class="c-gray en">&gt;</span> 系统设置
		<a class="btn btn-success radius r"
			style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);"
			title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
	</a>
	</nav>
{/block}
{block name="bouttons"}
	<div></div>
{/block}
{block name="tables"}
	<table id="table1" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>标题</th>
				<th>关键字</th>
				<th>描述</th>
				<th>感谢</th>
				<th>单位</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>


{/block}
{block name="myjs"}
<script type="text/javascript">

	// 定义DTajax参数
	var myajax = {
		url: "{:url('ajaxdata')}",
		type: "get",
		data: {},
	};

	// 定义列参数
	var mycolumns = [
        { "data": "title" },
        { "data": "keywords" },
        { "data": "description" },
        { "data": "thinks" },
        { "data": "danwei" },
        { "data": "id" },
	];

	// 定义修改列参数
	var mycolumnDefs =[
		{
			"targets": -1,
			"className":'.td-manage',			
			"render": function(data, type, row, meta) {
					// 编辑按钮
					editbut = '<a title="编辑" href="javascript:void(0);" onclick=addfull("编辑","/sysbase/'+row.id+'/edit") class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe60c;</i></a>';
					return editbut;
                }
        },
	];
</script>
{/block}