{extend name="common@create" /}

{block name="form"}
    <form class="layui-form layui-form-pane" lay-filter="myform">
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>名称
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.title|default=''}" placeholder="中文2-25个字符">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="xuenian" class="layui-form-label">
                  <span class="x-red">*</span>学年
              </label>
              <div class="layui-input-block">
                  <input type="text" id="xuenian" name="xuenian" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$list.data.xuenian|default=''}" placeholder="中文1-6个字符">
              </div>
          </div>
          <div class="layui-form-item">
    		    <label for="category" class="layui-form-label"><span class="x-red">*</span>类别</label>
    		    <div class="layui-input-block">
    		    	{php} $category = getCategory(108);{/php}
    		      <select name="category" lay-verify="required">
    		      	<option value=""></option>
    		      	{volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.category"}
                    {eq name="$list.data.category" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
    		        {/volist}
    		      </select>
    		    </div>
    		  </div>
 
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <div class="layui-form-item" style="text-align: right;">
              <button  class="layui-btn" lay-filter="mysubmit" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}
<script>




    // laydate.render({
    //   elem: '#enddate' //指定元素



  layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        // //执行一个laydate实例
        // laydate.render({
        //   elem: '#end' //指定元素
        // });
      });

</script>
{/block}

