{extend name="common@list" /}
{block name="topnav"}
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span> 教务管理
		<span class="c-gray en">&gt;</span> 学期列表
		<a class="btn btn-success radius r"
			style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);"
			title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
	</a>
	</nav>
{/block}
{block name="bouttons"}
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<!-- 删除按钮 -->
			<a href="javascript:;" onclick="dels('/xueqi/m')" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i>
			批量删除
			</a>
			<!-- 添加按钮 -->
			<a href="javascript:;" onclick=add('添加学期',"/xueqi/create",560,330) class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i>
				添加学期
			</a>
		</span>
		<span class="r">
			共有数据：<strong>{$list.count}</strong> 条
		</span>
	</div>
{/block}
{block name="tables"}
	<table id="table1" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th><input type="checkbox" name="" value=""></th>
				<th>标题</th>
				<th>学年</th>
				<th>分类</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>


{/block}
{block name="myjs"}
<script type="text/javascript">

	// 定义DTajax参数
	var myajax = {
		url: "{:url('ajaxdata')}",
		type: "get",
		data: {},
	};

	// 定义列参数
	var mycolumns = [
        { "data": "id" },
        { "data": "title" },
        { "data": "xuenian" },
        { "data": "category"},
        { "data": "bfdate" },
        { "data": "enddate" },
        { "data": "status" },
        { "data": "id" },
	];

	// 定义修改列参数
	var mycolumnDefs =[
		// 对象格式
		{
			"targets": 0,			
			"render": function(data, type, row, meta) {
				return '<input type="checkbox" name="test" value="' + row.id + '" />'
			}
		},
		{
			"targets": -1,
			"className":'.td-manage',			
			"render": function(data, type, row, meta) {
					// 停用按钮
					stopbut = '<a style="text-decoration:none" onClick="stop(this,'+ row.id +')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>';
					// 启用按钮
					startbut = '<a style="text-decoration:none" onClick="start(this,'+ row.id +')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>';
					// 编辑按钮
					editbut = '<a title="编辑" href="javascript:void(0);" onclick=add("编辑","/xueqi/'+row.id+'/edit",560,330) class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe60c;</i></a>';
					delbut = '<a title="删除" href="javascript:void(0);" onclick=del(this,"/xueqi/'+row.id+'") class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>';
					if(row.status == '已停用')
					{
						buts = startbut + editbut + delbut;
					}else{
						buts = stopbut + editbut + delbut;
					} 

					return buts;
                }
        },
        {
			"targets": -2,
			"className":'.td-status',
			"render": function(data, type, row, meta) {
                    if(row.status == '已停用')
                    {
                    	d = "<span class='label label-error radius'>" + row.status + "</span>";
                    }else{
                    	d = "<span class='label label-success radius'>" + row.status + "</span>";
                    }

                    return d;
                  },
        },
        {
        	"orderable": false,
        	"targets": [0,-1]
        }, 
	];
</script>
{/block}