{extend name=".././view/createhref.html" /}
{block name="form"}
<form action="{$list.set.url}" method="{$list.set.formpost}" class="layui-form layui-form-pane" lay-filter="myform">
	<div class="layui-form-item">
		<label for="school_id" class="layui-form-label"><span class="x-red">*</span>学校</label>
		<div class="layui-input-block">
			<select name="school_id" id="school_id" lay-filter="src">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="ruxuenian" class="layui-form-label"><span class="x-red">*</span>年级</label>
		<div class="layui-input-block">
			<select name="ruxuenian" id="ruxuenian" lay-filter="src">
			</select>
		</div>
	</div>
	<input type="hidden" id="kaoshi" name="kaoshi_id" value="{$list.set.kaoshi_id}">
	<div class="layui-form-item" style="text-align: right;">
		<button class="layui-btn" lay-filter="" lay-submit="">
			{$list.set.butname}
		</button>
	</div>
</form>
{/block}
{block name="myjs"}
<script>
// 提交搜索条件后重载表格
layui.use(['canyuKaoshi'], function() {
	var canyu = layui.canyuKaoshi;

	canyu.schoolSelect('school_id', "{$list.set.kaoshi_id|default=''}");
	canyu.gradeSelect('ruxuenian', "{$list.set.kaoshi_id|default=''}");
});

</script>
{/block}
