{extend name="common@create" /}
{block name="formaa"}
<form action="/editpassword/{$list.id}" method="PUT" class="form form-horizontal" id="form-member-add">
    <table class="table table-border table-bordered table-bg">
      <thead>
        <tr>
          <th colspan="2">修改密码</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-r" width="30%">旧密码：</th>
          <td><input name="oldpassword" id="oldpassword" class="input-text" type="password" autocomplete="off" placeholder="密码" tabindex="1" datatype="*6-16" nullmsg="请输入旧密码！" errormsg="4~16个字符，区分大小写！"> 
          </td>
        </tr>
        <tr>
          <th class="text-r">新密码：</th>
          <td><input name="newpassword" id="newpassword" class="input-text" type="password" autocomplete="off" placeholder="设置密码" tabindex="2" datatype="*6-16"  nullmsg="请输入您的新密码！" errormsg="4~16个字符，区分大小写！" > 
          </td>
        </tr>
        <tr>
          <th class="text-r">再次输入新密码：</th>
          <td><input name="newpassword2" id="newpassword2" class="input-text" type="password" autocomplete="off" placeholder="确认新密码" tabindex="3" datatype="*" recheck="newpassword" nullmsg="请再输入一次新密码！" errormsg="您两次输入的新密码不一致！"> 
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <button type="submit" class="btn btn-success radius"><i class="icon-ok"></i> 确定</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
{/block}
{block name="yanzheng"}
<script type="text/javascript">

  // 密码帐号
  $.validator.addMethod("mm",function(value,element){
    var tel = /^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){6,20}$/;
    return this.optional(element) || tel.test(value);
  }, "只能输入6-16个字母、数字、下划线");
	
  // 设置表单验证规则
	var myrules = {
			oldpassword:{
				required:true,
			},
			newpassword:{
				required:true,
				mm:true
			},
			newpassword2:{
        required:true,
        equalTo:"#newpassword"
      },
		};

	// 设置表单提交方式
	var mytype = 'PUT';
</script>
{/block}