{extend name="common@admininfo" /}
{block name="topdiv"}
<div class="cl pd-20" style=" background-color:#5bacb6">
	<img class="avatar size-XL l" src="/static/H-ui.admin_v3.1.3.1/H-ui.admin/static/h-ui/images/ucnter/avatar-default.jpg">
	<dl style="margin-left:80px; color:#fff">
		<dt>
			<span class="f-18">{$list.xingming}</span>
			<span class="pl-10 f-12">帐号:{$list.username}</span>
		</dt>
		<dd class="pt-10 f-12" style="margin-left:0">这家伙很懒，什么也没有留下</dd>
	</dl>
</div>
{/block}
{block name="mytable"}
<table class="table">
		<tbody>
			<tr>
				<th class="text-r" width="90px">性别：</th>
				<td>{$list.sex}</td>
			</tr>
			<tr>
				<th class="text-r">出生日期：</th>
				<td>{$list.shengri}</td>
			</tr>
			<tr>
				<th class="text-r">手机：</th>
				<td>{$list.phone}</td>
			</tr>
			<tr>
				<th class="text-r">注册时间：</th>
				<td>{$list.create_time}</td>
			</tr>
			<tr>
				<th class="text-r">登录次数：</th>
				<td>{$list.denglucishu}</td>
			</tr>
			<tr>
				<th class="text-r">最后登录时间：</th>
				<td>{$list.lasttime}</td>
			</tr>
			<tr>
				<th class="text-r">最后登录IP：</th>
				<td>{$list.lastip}</td>
			</tr>
			<tr>
				<th class="text-r">备注：</th>
				<td>{$list.beizhu}</td>
			</tr>
		</tbody>
	</table>
{/block}