{extend name="common@create" /}
{block name="jscss"}
<style type="text/css">
  .srcSelectStyly{
    /*margin-top:20px;*/
    border-width: 1px;
    border-color:#e2e2e2;
    border-style:solid;
    background-color:#ffffff;
    position:absolute;
    left:0;
    right:0;
    z-index:100;
  }
  .srcSelectStyly dl{
    padding-top: 3px;
    padding-left: 6px;
    background-color:#ffffff;
  }
  .srcSelectStyly dd{
    /*margin-bottom: 3px;*/
    /*background-color:#f2f2f2;*/
    height: 30px;
    padding-top: 10px;
  }
</style>
{/block}
{block name="form"}
    <div class="layui-form-item" align="center">
      {eq name="$list.set.formpost" value="PUT" }
        {if strlen($list.data.lxpic)>0}
          <img style="max-height: 300px;max-width: 500px" src="__UPLOAD__/keti/lixiang/{$list.data.lxpic}" onclick="imgMax(this,true)">
        {else /}
          <img style="max-height: 300px;max-width: 500px" src="__UPLOAD__/rongyu_teacher/404.png" onclick="imgMax(this,true)">
        {/if}
      {/eq}
    </div>
    <form class="layui-form layui-form-pane" lay-filter="myform">
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  图片
              </label>
              <div class="layui-inline">
                <div class="layui-input-inline" style="min-width: 300px">
                  <input type="text" id="lxpic" name="lxpic"
                  autocomplete="off" class="layui-input " value="{$list.data.lxpic|default=''}" placeholder="地址" readonly>
                </div>
                <div class="layui-input-inline" style="min-width: 100px">
                  <button type="button" class="layui-btn" id="upload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                  </button>
                </div>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  课题标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title"
                  autocomplete="off" class="layui-input " value="{$list.data.title|default=''}" placeholder="中文1-30个字符">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="bianhao" class="layui-form-label">
                  课题编号 
              </label>
              <div class="layui-input-block">
                  <input type="text" id="bianhao" name="bianhao"
                  autocomplete="off" class="layui-input " value="{$list.data.bianhao|default=''}" placeholder="中文1-30个字符">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="cyselect" class="layui-form-label">
                  主持人
              </label>
              <div class="layui-inline">
                <div class="layui-input-inline">
                  <input name="hjSearch" id="hjSearch" type="text" class="layui-input" autocomplete="off">
                </div>
                {present name="$list.data.kt_zcr"}
                  {volist name="$list.data.kt_zcr" id="vo"}
                  <div class="layui-input-inline" style="width:60px">
                    <div onclick="cjgl.delTeacher(this)" class="layui-btn layui-btn-normal">
                      {$vo.teacher.xingming}
                    </div>
                    <input type="hidden" name="hjteachers[]" value="{$vo.teacher.id}"></div>
                  {/volist}
                {/present}
              </div>
          </div>
          <div class="layui-form-item">
            <label for="fzdanweiid" class="layui-form-label"><span class="x-red">*</span>负责单位</label>
            <div class="layui-input-block">
              {php} $school = schlist('校级','区级');{/php}
              <select name="fzdanweiid" lay-verify="required">
                <option value=""></option>
                {volist name="school" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.fzdanweiid"}
                    {eq name="$list.data.fzdanweiid" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
    		    <label for="subject" class="layui-form-label"><span class="x-red">*</span>所属学科 </label>
    		    <div class="layui-input-block">
    		    	{php}$subject = getCategory(116);{/php}
    		      <select name="subject" lay-verify="required">
    		      	<option value=""></option>
    		      	{volist name="subject" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.subject"}
                    {eq name="$list.data.subject" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
    		        {/volist}
    		      </select>
    		    </div>
    		  </div>
          <div class="layui-form-item">
            <label for="category" class="layui-form-label"><span class="x-red">*</span>研究类型 </label>
            <div class="layui-input-block">
              {php} $category = getCategory(117);{/php}
              <select name="category" lay-verify="required">
                <option value=""></option>
                {volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.category"}
                    {eq name="$list.data.category" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
              <label for="jhjtshijian" class="layui-form-label">
                  <span class="x-red">*</span>结题时间
              </label>
              <div class="layui-input-block">
                  <input type="text" id="jhjtshijian" name="jhjtshijian" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.jhjtshijian|default=''}" placeholder="计划结题时间">
              </div>
          </div>
          <input type="hidden" name="ketice"  id="ketice" value="{$list.set.ketice|default=''}">
          <div class="layui-form-item" style="text-align: right;">
              <button  class="layui-btn" lay-filter="mysubmit" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}

<script>
  // 日期控件
  layui.use(['laydate','upload'], function(){
    var laydate = layui.laydate
        ,upload = layui.upload;
    //执行一个laydate实例
    laydate.render({
      elem: '#jhjtshijian' //指定元素
      ,trigger: 'click' //采用click弹出
    });

    //执行实例
    var uploadInst = upload.render({
      elem: '#upload' //绑定元素
      ,url: "{:url('upload')}" //上传接口
      ,done: function(res){
        if(res.val == 1){
          $('#lxpic').val(res.url);
        }
        layer.msg(res.msg);
      }
      ,data: {
        text: '课题'
        ,serurl:'..\\public\\uploads\\keti\\lixiang\\'

      }
      ,acceptMime:'.jpg,.jpeg,.png'
      ,exts:'jpg|jpeg|png'
      ,auto:true
      ,error: function(){
        //请求异常回调
      }
    });
  });

  var cjgl = parent.layui.cjgl;

  // 搜索教师
  $('#cySearch').bind({
    keyup:function(){
      var val = $.trim($(this).val());
      if(val.length>0){
        cjgl.selectOnfocus(this,val,'cyteachers[]');
      }
    },
  })
  // 搜索教师
  $('#hjSearch').bind({
    keyup:function(){
      var val = $.trim($(this).val());
      if(val.length>0){
        cjgl.selectOnfocus(this,val,'hjteachers[]');
      }
    },
  })


  // 图片放大
  function imgMax(obj,max=false)
  {
    if(max == true){
      $(obj).css("max-width","800px");
      $(obj).css("max-height","1000px");
      $(obj).attr('onclick',"imgMax(this)");
    }else{
      $(obj).css("max-width","500px");
      $(obj).css("max-height","300px");
      $(obj).attr('onclick',"imgMax(this,true)");
    }
  }


</script>  
{/block}

