{extend name=".././view/createhref.html" /}
{block name="form"}
<form action="{$list.set.url}" method="{$list.set.formpost}" class="layui-form layui-form-pane" lay-filter="myform">
	<div class="layui-form-item">
		<label for="title" class="layui-form-label">
			文件
		</label>
		<div class="layui-input-block">
			<div class="layui-input-inline" style="min-width: 250px">
				<input type="text" id="url" name="url" autocomplete="off" class="layui-input " value="{$list.data.url|default=''}" placeholder="地址" readonly>
			</div>
			<div class="layui-input-inline" style="min-width: 100px">
				<button type="button" class="layui-btn" id="upload">
					<i class="layui-icon">&#xe67c;</i>上传文件
				</button>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="school_id" class="layui-form-label">学校</label>
		<div class="layui-input-block">
			<select name="school_id" id="school_id" autocomplete="off">
			</select>
		</div>
	</div>
	<div class="layui-form-item" style="text-align: right;">
		<button class="layui-btn" lay-filter="mysubmit" lay-submit="">
			{$list.set.butname}
		</button>
	</div>
	<div class="layui-form-item">
		<label for="school_id" class="layui-form-label">导入失败原因</label>
		<div class="layui-input-block">
			<p>1、权限不够：身份需要是对应班级的班主任、教学主任或教学副校长、超级管理员。
			<p>2、班级名称不对：要与班级列表中的班级名称一致。
		</div>
	</div>
</form>
{/block}
{block name="myjs"}
<script>
layui.use(['createInput'], function() {
	var cInput = layui.createInput;
	cInput.schoolSelect('school_id', '校级', '校级');

	cInput.uploadXls('upload', "11102", 'student', 'url');


});

</script>
{/block}
