{extend name=".././view/create.html" /}
<script src="Convert_Pinyin.js"></script>
{block name="jscss"}
  {load href="__STATIC__/Convert_Pinyin.js" /}
{/block}
{block name="form"}
    <form class="layui-form layui-form-pane" lay-filter="myform">
          <div class="layui-form-item">
              <label for="xingming" class="layui-form-label">
                  <span class="x-red">*</span>姓名
              </label>
              <div class="layui-input-block">
                  <input type="text" id="xingming" name="xingming" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.xingming|default=''}" placeholder="中文2-25个字符" onBlur="ConvertName()">
              </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">
                  <span class="x-red">*</span>姓名拼音
              </label>
              <div class="layui-input-inline" style="width: 35%; margin-right: 20px">
                <input type="text" id="quanpin" name="quanpin" placeholder="全拼" autocomplete="off" class="layui-input" lay-verify="required" value="{$list.data.quanpin|default=''}">
              </div>
              <div class="layui-input-inline" style="width: 25%;">
                <input type="text" id="shoupin" name="shoupin" placeholder="简拼" autocomplete="off" class="layui-input" lay-verify="required" value="{$list.data.shoupin|default=''}">
              </div>
            </div>
          </div>
          <div class="layui-form-item" pane>
            <label for="sex" class="layui-form-label"><span class="x-red">*</span>性别</label>
            <div class="layui-input-block">
              <input type="radio" name="sex" value="1" title="男" 
                {present name="$list.data.sex"}
                {$list.data.sex}
                    {eq name="$list.data.sex" value="男" }
                     checked
                    {/eq}
                {/present}>
              <input type="radio" name="sex" value="0" title="女" 
                {present name="$list.data.sex"}
                    {eq name="list.data.sex" value="女" }
                     checked
                    {/eq}
                {/present}
                {notpresent name="$list.data.sex"}
                 checked
                {/notpresent}
                >
            </div>
          </div>
          <div class="layui-form-item">
              <label for="shengri" class="layui-form-label">
                  出生日期
              </label>
              <div class="layui-input-block">
                  <input type="text" id="shengri" name="shengri" autocomplete="off" class="layui-input " value="{$list.data.shengri|default=''}" placeholder="出生日期">
              </div>
          </div>
          <div class="layui-form-item">
            <label for="danwei" class="layui-form-label"><span class="x-red">*</span>现工作单位</label>
            <div class="layui-input-block">
              {php} $schoollist = schlist('校级','区级');{/php}
              <select name="danwei" lay-verify="required">
                <option value=""></option>
                {volist name="schoollist" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.danwei"}
                    {eq name="$list.data.danwei" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label for="zhiwu" class="layui-form-label">
              职务
            </label>
            <div class="layui-input-block">
              {php} $category = getCategory('职务');{/php}
              <select name="zhiwu">
                <option value=""></option>
                {volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.zhiwu"}
                    {eq name="$list.data.zhiwu" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label for="zhicheng" class="layui-form-label">
              职称
            </label>
            <div class="layui-input-block">
              {php} $category = getCategory('职称');{/php}
              <select name="zhicheng">
                <option value=""></option>
                {volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.zhicheng"}
                    {eq name="$list.data.zhicheng" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label for="xueli" class="layui-form-label">
              学历
            </label>
            <div class="layui-input-block">
              {php} $category = getCategory('学历');{/php}
              <select name="xueli">
                <option value=""></option>
                {volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.xueli"}
                    {eq name="$list.data.xueli" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
              <label for="biye" class="layui-form-label">
                  毕业院校
              </label>
              <div class="layui-input-block">
                  <input type="text" id="biye" name="biye" autocomplete="off" class="layui-input " value="{$list.data.biye|default=''}" placeholder="中文2-25个字符">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="zhuanye" class="layui-form-label">
                  专业
              </label>
              <div class="layui-input-block">
                  <input type="text" id="zhuanye" name="zhuanye"
                  autocomplete="off" class="layui-input " value="{$list.data.zhuanye|default=''}" placeholder="中文2-25个字符">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="worktime" class="layui-form-label">
                  入职时间
              </label>
              <div class="layui-input-block">
                  <input type="input" id="worktime" name="worktime" class="layui-input" value="{$list.data.worktime|default=''}" placeholder="入职时间" autocomplete="off">
              </div>
          </div>
          <div class="layui-form-item" style="text-align: right;">
              <button  class="layui-btn" lay-filter="mysubmit" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}
<script>

  layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#shengri' //指定元素
          ,trigger: 'click' //采用click弹出
        });

        // //执行一个laydate实例
        laydate.render({
          elem: '#worktime' //指定元素
          ,trigger: 'click' //采用click弹出
        });
      });

  var ConvertName = function(){    
        var xingming = $('#xingming').val();    
        console.log(xingming);
        //获取全写拼音（调用js中方法）        
        var quanpin = pinyin.getFullChars(xingming);
        //获取简写拼音（调用js中方法）
        var shoupin = pinyin.getCamelChars(xingming);    
        //给两个文本框赋值    
        $('#quanpin').val(quanpin);
        $('#shoupin').val(shoupin);
    }

</script>
{/block}

