<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>小学生成绩管理平台 v{$list['version']}</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {load href="__STATIC__/xadmin/css/font.css" /}
    {load href="__STATIC__/xadmin/css/xadmin.css" /}
    {load href="__STATIC__/xadmin/js/jquery.min.js" /}
    {load href="__STATIC__/xadmin/lib/layui/layui.js" /}
    {load href="__STATIC__/xadmin/js/xadmin.js" /}
    {load href="__STATIC__/xadmin/js/cookie.js" /}

</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up" style="margin-top:80px">
        <div class="message">成绩管理v{$list['version']}-管理登录　<a href="https://www.kancloud.cn/llblax/abcd/789222" title="使用帮助" target="_blank"><i class="layui-icon layui-icon-help" style="font-size: 14px; color: #FFFFFF;"></i></a></div>
        <div id="darkbannerwrap"></div>
        
        <form class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" autocomplete="off">
            <hr class="hr15">
            <input id="password" name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input" autocomplete="off">
             <hr class="hr15"> 
            <img style="width: 100%" id="captchaimg" src="/verify" alt="captcha" onclick="javascript:this.src=this.src+'?rnd=' + Math.random();" />
            <hr class="hr15">
            <input name="captcha" id="captcha" lay-verify="required" placeholder="验证码"  type="text" class="layui-input" autocomplete="off">
            <hr class="hr15"> 
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;

              //监听提交
              form.on('submit(login)', function(data){
                $.post("/login",data.field,function(data,status){
                  if(status != 'success')
                  {
                    layer.msg('数据传输错误');
                    $('#captchaimg').onclick();
                    $('#captcha').val('');
                     $('#password').val('');
                  }
                  if(data.status == 1)
                  {
                    window.location.href="/";
                  }else{
                    layer.msg(data.msg);
                    $('#captchaimg').click();
                    $('#captcha').val('');
                    $('#password').val('');
                  }
                });
                return false;
              });
            });
        })

        
    </script>
</body>
</html>