{extend name=".././view/create.html" /}
{block name="jscss"}
<style type="text/css">
body {
	height: 100%;
	margin: 0px;
}

#upload {
	width: 320px;
	height: 80px;
	padding-top: 80px;
}

</style>
{/block}
{block name="form"}
<div class="layui-fluid" style="text-align: center;">
	<div class="layui-upload-drag" id="upload">
		<i class="layui-icon"></i>
		<p>点击上传，或将文件拖拽到此处</p>
		<div class="layui-hide" id="uploadDemoView">
		</div>
	</div>
</div>
{/block}
{block name="myjs"}
<script>
layui.use('createInput', function() {
	var cInput = layui.createInput;
	cInput.uploadPicMore('upload', "{$list.set.url}", '立项图片', 'keti\\lixiang');
});

</script>
{/block}
