{extend name=".././view/create.html" /}
{block name="jscss"}
<style type="text/css">
  .srcSelectStyly{
    /*margin-top:20px;*/
    border-width: 1px;
    border-color:#e2e2e2;
    border-style:solid;
    background-color:#ffffff;
    position:absolute;
    left:0;
    right:0;
    z-index:100;
  }
  .srcSelectStyly dl{
    padding-top: 3px;
    padding-left: 6px;
    background-color:#ffffff;
  }
  .srcSelectStyly dd{
    /*margin-bottom: 3px;*/
    /*background-color:#f2f2f2;*/
    height: 30px;
    padding-top: 10px;
  }
</style>
{/block}
{block name="form"}
    <div class="layui-form-item" align="center">
      {eq name="$list.set.formpost" value="PUT" }
          <img id="img" style="max-height: 300px;max-width: 500px" src="__UPLOAD__/{$list.data.lxpic|default='rongyu_teacher/404.png'}" onclick="imgMax(this,true)">
      {/eq}
      {eq name="$list.set.formpost" value="POST" }
          <img id="img" style="max-height: 300px;max-width: 500px" src="" onclick="imgMax(this,true)">
      {/eq}
    </div>
    <form class="layui-form layui-form-pane" lay-filter="myform">
          <div class="layui-form-item">

              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>图片
              </label>
              <div class="layui-inline">
                <div class="layui-input-inline" style="min-width: 300px">
                  <input type="text" id="lxpic" name="lxpic"
                  autocomplete="off" class="layui-input " value="{$list.data.lxpic|default=''}" placeholder="地址" readonly>
                </div>
                <div class="layui-input-inline" style="min-width: 100px">
                  <button type="button" class="layui-btn" id="upload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                  </button>
                </div>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>课题标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title"
                  autocomplete="off" class="layui-input " value="{$list.data.title|default=''}" placeholder="中文1-100个字符">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="bianhao" class="layui-form-label">
                  <span class="x-red">*</span>课题编号
              </label>
              <div class="layui-input-block">
                  <input type="text" id="bianhao" name="bianhao"
                  autocomplete="off" class="layui-input " value="{$list.data.bianhao|default=''}" placeholder="中文1-50个字符">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="teacher_name" class="layui-form-label">
                  <span class="x-red">*</span>主持人
              </label>
              <div class="layui-input-block" id="teacher_id" school_id="{$list.data.school_id|default=''}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="fzdanwei_id" class="layui-form-label"><span class="x-red">*</span>负责单位</label>
              <div class="layui-input-block">
                <select name="fzdanwei_id" id="fzdanwei_id">
                </select>
              </div>
            </div>
          <div class="layui-form-item">
            <label for="category_id" class="layui-form-label" style="height: 100%"><span class="x-red">*</span>所属学科</label>
            <div class="layui-input-block">
              <select name="category_id" id="category_id">
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label for="subject_id" class="layui-form-label" style="height: 100%"><span class="x-red">*</span>研究类型</label>
            <div class="layui-input-block">
              <select name="subject_id" id="subject_id">
              </select>
            </div>
          </div>
          <div class="layui-form-item">
              <label for="jhjtshijian" class="layui-form-label">
                  <span class="x-red">*</span>结题时间
              </label>
              <div class="layui-input-block">
                  <input type="text" id="jhjtshijian" name="jhjtshijian" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.jhjtshijian|default=''}" placeholder="计划结题时间">
              </div>
          </div>
          <input type="hidden" name="ketice_id"  id="ketice_id" value="{$list.set.ketice_id|default=''}">
          <div class="layui-form-item" style="text-align: right;">
              <button  class="layui-btn" lay-filter="mysubmit" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}

<script>
  // 日期控件
  layui.use(['laydate','mytable','createInput'], function(){
    var laydate = layui.laydate
        ,mytable = layui.mytable
        ,cInput = layui.createInput;

        // 填充下拉菜单
      cInput.schoolSelect('fzdanwei_id','校级','区级',"{$list.data.fzdanwei_id|default=''}");
      cInput.categorySelect('subject_id', 116,"{$list.data.subject_id|default=''}");
      cInput.categorySelect('category_id', 117,"{$list.data.category_id|default=''}");

      // 搜索教师
    xmselect = cInput.searchTeacher('teacher_id');

    // 添加数据库值
    formpost = "{$list.set.formpost|default=''}".toLocaleUpperCase();
    if(formpost == 'PUT')
    {
      xmselect.update({
      data: [
          {xingming: "{$list.data.selectname|default=''}",
          id:"{$list.data.teacher_id|default=''}",
          selected: true
        },
        ]
      })
    }


    //执行一个laydate实例
    laydate.render({
      elem: '#jhjtshijian' //指定元素
      ,trigger: 'click' //采用click弹出
    });

    url = mytable.upload('upload', "/rongyu/danwei/upload", '课题', 'keti\\lixiang', 'lxpic');

   

  //   //执行实例
  //   var uploadInst = upload.render({
  //     elem: '#upload' //绑定元素
  //     ,url: "/rongyu/danwei/upload" //上传接口
  //     ,done: function(res){
  //       if(res.val == 1){
  //         $('#lxpic').val(res.url);
  //         document.getElementById("img").src="__UPLOAD__/"+res.url;
  //       }
  //       layer.msg(res.msg);
  //     }
  //     ,data: {
  //       text: '课题'
  //       ,serurl:'keti\\lixiang'

  //     }
  //     ,acceptMime:'.jpg,.jpeg,.png'
  //     ,exts:'jpg|jpeg|png'
  //     ,auto:true
  //     ,error: function(){
  //       //请求异常回调
  //     }
  //   });
  });

  // var cjgl = parent.layui.cjgl;
  // // 搜索教师
  // $('#hjSearch').bind({
  //   keyup:function(){
  //     var val = $.trim($(this).val());
  //     if(val.length>0){
  //       cjgl.searchTeacher(this, val, 'hjteachers[]', 'addTeacher');
  //     }
  //   },
  // })


  // 图片放大
  function imgMax(obj,max=false)
  {
    if(max == true){
      $(obj).css("max-width","800px");
      $(obj).css("max-height","1000px");
      $(obj).attr('onclick',"imgMax(this)");
    }else{
      $(obj).css("max-width","500px");
      $(obj).css("max-height","300px");
      $(obj).attr('onclick',"imgMax(this,true)");
    }
  }


</script>
{/block}

