{extend name=".././view/create.html" /}
{block name="jscss"}
{/block}
{block name="form"}
    <form class="layui-form layui-form-pane" lay-filter="myform">
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  荣誉册标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title"
                  autocomplete="off" class="layui-input " value="{$list.data.title|default=''}" placeholder="中文1-50个字符">
              </div>
          </div>
          <div class="layui-form-item">
    		    <label for="category_id" class="layui-form-label"><span class="x-red">*</span>荣誉类型</label>
    		    <div class="layui-input-block">
    		    	{php} $category = getCategory('教师荣誉类型');{/php}
    		      <select name="category_id" lay-verify="required">
    		      	<option value=""></option>
    		      	{volist name="category" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.category_id"}
                    {eq name="$list.data.category_id" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
    		        {/volist}
    		      </select>
    		    </div>
    		  </div>
          <div class="layui-form-item">
            <label for="fzschool_id" class="layui-form-label"><span class="x-red">*</span>颁奖单位</label>
            <div class="layui-input-block">
              {php} $school = schlist('区级','其它级');{/php}
              <select name="fzschool" lay-verify="required">
                <option value=""></option>
                {volist name="school" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.fzschool_id"}
                    {eq name="$list.data.fzschool_id" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
              <label for="fzshijian" class="layui-form-label">
                  <span class="x-red">*</span>获奖时间
              </label>
              <div class="layui-input-block">
                  <input type="text" id="fzshijian" name="fzshijian" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.fzshijian|default=''}" placeholder="获奖时间">
              </div>
          </div>
          <div class="layui-form-item" style="text-align: right;">
              <button  class="layui-btn" lay-filter="mysubmit" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}

<script>
  // 日期控件
  layui.use(['laydate'], function(){
    var laydate = layui.laydate;
    //执行一个laydate实例
    laydate.render({
      elem: '#fzshijian' //指定元素
      ,trigger: 'click' //采用click弹出
    });
  });
</script>
{/block}

