{extend name=".././view/create.html" /}
{block name="form"}
<form class="layui-form layui-form-pane" lay-filter="myform">
	<div class="layui-form-item">
		<label for="school_id" class="layui-form-label"><span class="x-red">*</span>学校</label>
		<div class="layui-input-block">
			<select name="school_id" id="school_id" lay-filter="sch" lay-verify="required">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="ruxuenian" class="layui-form-label"><span class="x-red">*</span>年级</label>
		<div class="layui-input-block">
			<select name="ruxuenian" id="ruxuenian" lay-filter="nj" lay-verify="required">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="banji_id" class="layui-form-label">
			<span class="x-red">*</span>班级
		</label>
		<div class="layui-input-block">
			<select name="banji_id" id="banji_id" lay-verify="required" class="layui-form-label" lay-filter="bj">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="student_id" class="layui-form-label">
			<span class="x-red">*</span>学生姓名
		</label>
		<div class="layui-input-block" id="student_id" banji_id="0">
		</div>
	</div>
	<input type="hidden" name="nianji" id="nianji" value="{$list.set.nianji|default=''}">
	<input type="hidden" name="paixu" id="paixu" value="{$list.set.paixu|default=''}">
	<input type="hidden" name="kaoshi_id" id="kaoshi_id" value="{$list.set.kaoshi_id|default=''}">
	<div class="layui-form-item" style="text-align: right;">
		<button class="layui-btn" lay-filter="mysubmit" lay-submit="">
			{$list.set.butname}
		</button>
	</div>
</form>
{/block}
{block name="myjs"}
<script>
layui.use(['form', 'canyuKaoshi', 'createInput'], function() {
	var form = layui.form,
		cInput = layui.createInput,
		canyu = layui.canyuKaoshi;

	xmselect = cInput.searchStudent('student_id');
	cInput.schoolSelect('school_id', '校级', '校级', "", true);
	canyu.gradeSelect('ruxuenian', "{$list.set.kaoshi_id}");

	// 监听学校下拉菜单
	form.on('select(sch)', function(data) {
		data = form.val("myform");
		if (data.school_id > 0 && data.ruxuenian > 0) {
			cInput.banjiSelect('banji_id', data);
		}
	});

	// 监听学校下拉菜单
	form.on('select(nj)', function(data) {
		data = form.val("myform");
		data.auth = {
			'guanliyuan' : true
            ,'zhiwu' : true
            ,'zuzhang' : true
            ,'banzhuren' : true
		}
		if (data.school_id > 0 && data.ruxuenian > 0) {
			cInput.banjiSelect('banji_id', data);
		}
		$('#nianji').val($('#ruxuenian option:selected').text());
	});

	// 监听学校下拉菜单
	form.on('select(bj)', function(data) {
		data = form.val("myform");
		$('#paixu').val($('#banji_id option:selected').attr('paixu'));
    $('#student_id').attr('banji_id', data.banji_id);
	});

});

</script>
{/block}
