{extend name="common@list" /}
{block name="topnav"}
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span> 成绩管理
		<span class="c-gray en">&gt;</span> 成绩列表
		<a class="btn btn-success radius r"
			style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);"
			title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
	</a>
	</nav>
{/block}
{block name="bouttons"}
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<!-- 删除按钮 -->
			<a href="javascript:;" onclick="dels('/chengji/m')" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i>
			批量删除
			</a>
			<!-- 下载成绩按钮 -->
			<a href="javascript:;" onclick=addfull('下载成绩',"/chengji/download") class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe640;</i>
				下载成绩
			</a>
		</span>
		<span class="r">
			共有数据：<strong>{$list.count}</strong> 条
		</span>
	</div>
	<div class="panel panel-default mt-10 mb-10">
		<div class="panel-header" id="shaixuan">筛选成绩</div>
		<div class="panel-body" style="min-height: 100px">
				<div>
					{php}
						$school = new app\system\model\School;
						$school = $school->searchMany('校级','校级');
					{/php}<label class="f-l">学校：</label>
					<dt>
						<dd class=" mt-10">
							{foreach $school as $key=>$vo } 
							<label class="ml-10">
								<input type="checkbox" value="{$vo.id}" name="school" onclick="dtreload()">
								{$vo.jiancheng}
							</label>
						{/foreach}
						</dd>
					</dt>
				</div>
				<div>
					<label class="f-l">年级：</label>
					<dt>
						<dd class=" mt-10"> 
							<label class="ml-10">
								<input type="checkbox" value="一年级" name="nianji" onclick="dtreload()">&nbsp;一年级
							</label>
							<label class="ml-10">
								<input type="checkbox" value="二年级" name="nianji" onclick="dtreload()">&nbsp;二年级
							</label>
							<label class="ml-10">
								<input type="checkbox" value="三年级" name="nianji" onclick="dtreload()">&nbsp;三年级
							</label>
							<label class="ml-10">
								<input type="checkbox" value="四年级" name="nianji" onclick="dtreload()">&nbsp;四年级
							</label>
							<label class="ml-10">
								<input type="checkbox" value="五年级" name="nianji" onclick="dtreload()">&nbsp;五年级
							</label>
							<label class="ml-10">
								<input type="checkbox" value="六年级" name="nianji" onclick="dtreload()">&nbsp;六年级
							</label>
						</dd>
					</dt>
				</div>
				<div>
					{php}
						$banji = new app\teach\model\Banji;
						$njlist = nianjiList();
						$bjnames = banjinamelist();
						$njnum = array_keys($njlist);
						$bjlist = $banji->where('ruxuenian','in',$njnum)->max('paixu');
					{/php}
					<label class="f-l">班级：</label>
					<dt>
						<dd class=" mt-10">
						{for start="1" end="7" } 
							<label class="ml-10">
								<input type="checkbox" value="{$i}" name="banji" onclick="dtreload()">
								{$bjnames[$i]}
							</label>
						{/for}
						</dd>
					</dt>
				</div>
		</div>
	</div>

{/block}
{block name="tables"}
	<table id="table1" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th><input type="checkbox" name="" value=""></th>
				<th>学校</th>
				<th>年级</th>
				<th>学生</th>
				<th>语文</th>
				<th>数学</th>
				<th>英语</th>
				<th>平均</th>
				<th>总分</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>


{/block}
{block name="myjs"}
<script type="text/javascript">

	// 定义DTajax参数
	var myajax = {
		url: "{:url('ajaxdata')}",
		type: "post",
		data: {
			kaoshi:"{$list.kaoshi}",
			school:function(){
				var chk = [];
				$('input[name="school"]:checked').each(function(){
					if(typeof($(this).val()) != "undefined")
					{
						chk.push($(this).val());
					}
				});
				return chk;
			},
			nianji:function(){
				var chk = [];
				$('input[name="nianji"]:checked').each(function(){
					if(typeof($(this).val()) != "undefined")
					{
						chk.push($(this).val());
					}
				});
				return chk;
			},
			banji:function(){
				var chk = [];
				$('input[name="banji"]:checked').each(function(){
					if(typeof($(this).val()) != "undefined")
					{
						chk.push($(this).val());
					}
				});
				return chk;
			},
		},
	};

	// 定义列参数
	var mycolumns = [
        { "data": "id" },
        { "data": "cj_school.jiancheng","name":"school" },
        { "data": "cj_banji.title","name":"banji" },
        { "data": "cj_student.xingming","name":"student"},
        { "data": "yuwen"},
        { "data": "shuxue"},
        { "data": "waiyu" },
        { "data": "stuAvg" },
        { "data": "stuSum" },
        { "data": "status" },
        { "data": "id" },
	];

	// 定义修改列参数
	var mycolumnDefs =[
		// 对象格式
		{
			"targets": 0,			
			"render": function(data, type, row, meta) {
				return '<input type="checkbox" name="test" value="' + row.id + '" />'
			}
		},
		{
			"targets": -1,
			"className":'.td-manage',			
			"render": function(data, type, row, meta) {
					// 停用按钮
					stopbut = '<a style="text-decoration:none" onClick="stop(this,'+ row.id +')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>';
					// 启用按钮
					startbut = '<a style="text-decoration:none" onClick="start(this,'+ row.id +')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>';
					// 编辑按钮
					editbut = '<a title="编辑" href="javascript:void(0);" onclick=add("编辑","/chengji/'+row.id+'/edit",500,350) class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe60c;</i></a>';
					// 删除按钮
					delbut = '<a title="删除" href="javascript:void(0);" onclick=del(this,"/chengji/'+row.id+'") class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>';
					// 删除已经录入的成绩
					delcjbut = '<a title="删除成绩" href="javascript:void(0);" onclick=delcj(this,"/chengji/'+row.id+'/cj") class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe72a;</i></a>';

					if(row.status == '已停用')
					{
						buts = startbut;
					}else{
						buts = stopbut;
					}
					buts = buts + editbut + delbut + delcjbut; 

					return buts;
                }
        },
        {
			"targets": -2,
			"className":'.td-status',
			"render": function(data, type, row, meta) {
                    if(row.status == '已停用')
                    {
                    	d = "<span class='label label-error radius'>" + row.status + "</span>";
                    }else{
                    	d = "<span class='label label-success radius'>" + row.status + "</span>";
                    }

                    return d;
                  },
        },
        {
        	"orderable": false,
        	"targets": [0,-1]
        }, 
	];

	// 删除成绩
	function delcj(obj,url){
		layer.confirm('确认要成绩删除吗？',function(index){
			$.ajax({
				type: 'DELETE',
				url: url,
				dataType: 'json',
				success: function(data){
					if(data.val == 1)
					{
						var aa = $(obj).parents("td").prevAll();
						var i=0;
						aa.each(function(){
							if(i >0 && i<6 )
							{
								$(this).html('');
							}
							i++;
						});
					}
					layer.alert(data.msg);
					
				},
				error:function(data) {
					layer.alert('删除失败');
				},
			});		
		});
	}

	// 筛选成绩面板折叠
	$('#shaixuan').click(function(){
		$(this).next().toggle();
	});

	// 重载数据
	function dtreload()
	{
		$('#table1').DataTable().ajax.reload();
	}

	
</script>
{/block}