{extend name="common@create" /}
{block name="formaa"}
	<div class="row cl">
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text radius size-XL" value="" placeholder="请扫码" id="info" name="info" onkeydown="saoma(event)">
		</div>
	</div>
	<div class="row cl mt-20">
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text radius size-XL" value="" placeholder="在这里输入得分，并按“回车”键保存" id="defen" name="defen" onkeydown="defen(event)">
		</div>
	</div>

	<table id="table1" class="table table-border table-bordered table-hover table-bg table-sort mt-20">
		<thead>
			<tr class="text-c">
				<th>序号</th>
				<th>学校</th>
				<th>班级</th>
				<th>姓名</th>
				<th>学科 </th>
				<th>得分</th>
				<th>时间</th>
			</tr>
		</thead>
		<tbody id="addjg">
		</tbody>
		<thead>
			<tr class="text-c">
				<th>序号</th>
				<th>学校</th>
				<th>班级</th>
				<th>姓名</th>
				<th>学科 </th>
				<th>得分</th>
				<th>得分</th>
			</tr>
		</thead>
	</table>

{/block}
{block name="yanzheng"}
<script type="text/javascript">
	// 设置表单验证规则
	var myrules = {
			
		};

	// 设置表单提交方式
	var mytype = 'POST';
	// 声明变量
	var myinfo = [];
	var cnt = 1;



	// 处理扫码获取的信息
	function saoma(obj)
	{
		if (obj.keyCode != 13)
		{
			return false;
		}
		// 初始化数组
		// myinfo = array();
		// 获取扫码值并分割成数据
		myinfo = $('#info').val().split(',');

		// 查询并显示学生信息
		$.ajax({
			type: 'POST',
			url: "/chengji/read",
			data:{
				id:myinfo[0],
				ziduan:myinfo[1]
			},
			dataType: 'json',
			success: function(data){
				data['id'] = myinfo[0];
				data['ziduan'] = myinfo[1];
				myinfo = data;
				$('#info').val(myinfo['schooljian'] + '   ' + myinfo['banjiname'] + '   ' + myinfo['studentname']);
				var zd = data['ziduan'];
				myinfo[zd]>0 ? $('#defen').val(myinfo[zd]) : $('#defen').val('');
				$('#defen').focus();
			},
			error:function(data) {
				$('#info').val('');
				$('#info').focus();
			},
		});	
	}


	$(document).ready(function(){
	   $('#info').focus();
	});

	

	// 得分文本框绑定回车键事件
	function defen(obj){ 

		if (obj.keyCode != 13)
		{
			return false;
		}
		var df = $('#defen').val();

		// 查询并显示学生信息
		$.ajax({
			type: 'POST',
			url: "/chengji/malu",
			data:{
				id:myinfo['id'],
				ziduan:myinfo['ziduan'],
				defen:df
			},
			dataType: 'json',
			success: function(data){
				if(data['val'] == 1)
				{
					var str = '<tr><td>'+cnt+'</td><td>' + myinfo['schooljian'] +'</td><td>' + myinfo['banjiname'] + '</td><td>'+myinfo['studentname']+'</td><td>'+myinfo['ziduan']+'</td><td>'+df+'</td><td></td></tr>';

					cnt++;
					$('#addjg').prepend(str);
				}
			},
			error:function(data) {
			},
		});	
		$('#info').val('');
		$('#defen').val('');
		$('#info').focus();
	};
</script>
{/block}