{extend name="common@createhref" /}
<style type="text/css">
  .bjSpan{
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    padding-top: 
  }
</style>
{block name="form"}
    <div class="layui-form-item">
      <input type="text" id="saoma" name="saoma" lay-verify="required" autocomplete="off" class="layui-input " value="{$list.data.title|default=''}" placeholder="请在这里扫码" style="height: 60px;font-size: 25px">
    </div>

    <div class="layui-row">
      <div id="xianshi" class="layui-col-md6" style=" height: 150px; font-size: 25px; border-style:solid; border-width:1px;border-color:#e2e2e2;">
      </div>
      <div class="layui-col-md6">
        <form style="float:left;">
          <div class="layui-form-item">
            <input type="text" id="defen" name="defen" lay-verify="required"
                  autocomplete="off" class="layui-input " value="{$list.data.defen|default=''}" placeholder="得分" style="height: 150px;font-size: 90px">
          </div>
          <input type="hidden" name="id" id="id">
          <input type="hidden" name="zd" id="zd">
        </form>
      </div>
    </div>

    
{/block}

{block name="myjs"}
<script>
  $('#saoma').keypress(function(event){
    $('#xianshi').children().remove();
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
      // 查询并显示学生信息
      $.ajax({
        type: 'POST',
        url: "/chengji/read",
        data:{
          val:$('#saoma').val()
        },
        dataType: 'json',
        success: function(data){
          var school = '<div>'+data.cj_school.jiancheng +'</div>'
              ,banji = '<div'+data.cj_banji.numTitle +'</div>'
              ,student = '<div'+data.cj_student.xingming +'</div>'
              ,subject = '<div'+data.lieming +'</div>';
         $('#id').val(data.id);
         $('#zd').val(data.zd);
         $('#defen').val(data.defen*1);
         $('#saoma').val('');
         $('#xianshi').append(school + banji + student + subject);
         $('#defen').focus();
        },
        error:function(data) {
          layer.msg('数据走丢了');
        },
      }); 
    }
  });

  $('#defen').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
      // 查询并显示学生信息
      $.ajax({
        type: 'PUT',
        url: "/chengji/malu",
        data:{
          id:$('#id').val()
          ,zd:$('#zd').val()
          ,defen:$('#defen').val()
        },
        dataType: 'json',
        success: function(data){
         if(data.val == 1){
           $('#id').val('');
           $('#zd').val('');
           $('#defen').val('');
           $('#xianshi').children().remove();
           $('#saoma').focus();
         }else{
          layer.msg(data.msg);
         }
         
        },
        error:function(data) {
          layer.msg('数据走丢了');
        },
      }); 
    return false;
    }
  });

</script>
{/block}

