{extend name=".././view/create.html" /}
{block name="form"}
<form class="layui-form layui-form-pane" lay-filter="myform">
	<div class="layui-form-item">
		<label for="title" class="layui-form-label">
			<span class="x-red">*</span>考试名称
		</label>
		<div class="layui-input-block">
			<input type="text" id="title" name="title" lay-verify="required" autocomplete="off" class="layui-input " value="{$list.data.title|default=''}" placeholder="2-25个字符">
		</div>
	</div>
	<div class="layui-form-item">
		<label for="xueqi_id" class="layui-form-label"><span class="x-red">*</span>学期</label>
		<div class="layui-input-block">
			<select name="xueqi_id" id="xueqi_id" lay-verify="required">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="zuzhi_id" class="layui-form-label"><span class="x-red">*</span>组织单位</label>
		<div class="layui-input-block">
			<select name="zuzhi_id" id="zuzhi_id" lay-verify="required">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="category_id" class="layui-form-label"><span class="x-red">*</span>类别</label>
		<div class="layui-input-block">
			<select name="category_id" id="category_id" lay-verify="required">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label for="title" class="layui-form-label">
				<span class="x-red">*</span>考试时间
			</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="bfdate" name="bfdate" placeholder="开始时间" value="{$list.data.bfdate|default=''}" autocomplete="off" lay-verify="required">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="enddate" name="enddate" placeholder="结束时间" value="{$list.data.enddate|default=''}" autocomplete="off" lay-verify="required">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="fanwei_id" class="layui-form-label">查看范围</label>
		<div class="layui-input-block">
			<select name="fanwei_id" id="fanwei_id">
			</select>
		</div>
	</div>
	<div class="layui-form-item" style="text-align: right;">
		<button class="layui-btn" lay-filter="mysubmit" lay-submit="">
			{$list.set.butname}
		</button>
	</div>
</form>
{/block}
{block name="myjs"}
<script>
// 日期控件
layui.use(['laydate', 'createInput'], function() {
	var laydate = layui.laydate,
		cInput = layui.createInput;

	cInput.xueqiSelect('xueqi_id', "{$list.data.xueqi_id|default=''}");
	cInput.schoolSelect('zuzhi_id', '教研组', '区级', "{$list.data.zuzhi_id|default=''}", true);
	cInput.categorySelect('category_id', 109, "{$list.data.category_id|default=''}");
	cInput.categorySelect('fanwei_id', 124, "{$list.data.fanwei_id|default=''}");

	//开始时间
	laydate.render({
		elem: '#bfdate',
		type: 'datetime',
		trigger: 'click', //采用click弹出
		min: -15, //今天
		max: 30, //20天后
		format: 'yyyy-M-d' //可任意组合
	});
	//结束时间
	laydate.render({
		elem: '#enddate',
		type: 'datetime',
		trigger: 'click', //采用click弹出
		min: -15, //今天
		max: 30, //20天后
		format: 'yyyy-M-d' //可任意组合
	});
});

</script>
{/block}
