
{extend name=".././view/list.html" /}
{block name="jsset"}

{/block}
{block name="nav"}
	<span class="layui-breadcrumb">
		<a href="">考试管理</a>
		<a><cite>考试列表</cite></a>
	</span>
{/block}
{block name="search"}
	<div class="layui-form-item">
      <label for="searchval" class="layui-form-label">
          关键字
      </label>
      <div class="layui-input-block">
          <input type="text" id="searchval" name="searchval"
          autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
	    <label for="xueqi" class="layui-form-label" style="height: 100%">学期</label>
	    <div class="layui-input-block">
	    	<input type="radio" name="xueqi" title="无" value="" lay-skin="primary" checked="">
	    	{php} $category = getCategory('学期');{/php}
	    	{volist name="category" id="vo"}
	    		<input type="radio" name="xueqi" title="{$vo.title}" value="{$vo.id}" lay-skin="primary">
	    	{/volist}
	    </div>
	</div>
	<div class="layui-form-item">
	    <label for="category" class="layui-form-label" style="height: 100%">考试类型</label>
	    <div class="layui-input-block">
	    	{php} $category = getCategory('考试');{/php}
	    	{volist name="category" id="vo"}
	    		<input type="checkbox" name="category[]" title="{$vo.title}" value="{$vo.id}" lay-skin="primary">
	    	{/volist}
	    </div>
	</div>
{/block}
{block name="table"}
	<table id="tabledemo" lay-filter="mytable" lay-size="sm"></table>
{/block}
{block name="myjs"}
	<!-- 表格上面按钮模板 -->
<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-danger" lay-event="dels">
			<i class="iconfont">&#xe69d;</i> 批量删除
		</button>
		<button class="layui-btn" lay-event="add">
			<i class="iconfont">&#xe6b9;</i> 新建
		</button>
	</div>
</script>
<!-- 记录操作按钮模板 -->
<script type="text/html" id="barDemo">
	<a class="layui-btn-xs" lay-event="del" title="删除"><i class="layui-icon">&#xe640;</i></a>
	<a class="layui-btn-xs" lay-event="edit" title="编辑"><i class="layui-icon layui-icon-edit"></i></a>
	<a class="layui-btn-xs" lay-event="more" title="更多操作"><i class="layui-icon layui-icon-more-vertical"></i></a>

</script>
<script type="text/html" id="luru">
  <input type="checkbox" myurl="{$list.luru ? $list.luru : url('luru')}" {{d.luru == 1 ? "checked" :""}} id="{{d.id}}" lay-skin="switch" lay-filter="luru" lay-text="允许|不允许">
</script>
<!-- 表格操作 -->
<script>

  // 设置列
  options.cols=[[ //表头
			{type:'checkbox', fixed: 'left'},
			{field: 'id', title: '操作',toolbar: '#barDemo',minWidth:80},
			{field: 'title', title: '考试名称',sort: true, minWidth:240},
			{field: "ckNianji",title: '参考年级', minWidth:180},
			{field: 'ckSubject', title: '参考学科', minWidth:100} ,
			{field: 'bfdate', title: '考试时间', minWidth:150,sort: true,templet:function(d){
				var date;
				date = d.enddate.split('-');

				endate = date[1] + '-' + date[2];
				endate = d.bfdate + '～' + endate;
				return endate;
			}},
      {field: 'luru', title: '成绩操作', minWidth:80,templet:'#luru', sort: true},
			{field: 'status', title: '状态', minWidth:80,templet:'#status', sort: true},

		]];

  // 提交搜索条件后重载表格
    layui.use(['table','cjgl'],function(){
      var table = layui.table
          cjgl = layui.cjgl;
      //表头工具栏事件
      table.on('toolbar(mytable)', function(obj){
        switch(obj.event){
          case 'dels':
            var checkStatus = table.checkStatus('mytable'); //idmytable 即为基础参数 id 对应的值
            cjgl.delAll(checkStatus,'index/delete','mytable');
            break;
          case 'add':
            cjgl.add('新建考试','index/create','','',true);
            break;
        };
      });

      //监听行工具条
      table.on('tool(mytable)', function(obj){
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        switch(layEvent){
	        case 'del':// 删除
	          cjgl.del(obj,"index/delete");
	          break;
	        case 'edit':// 编辑
	          cjgl.add('编辑考试','index/edit/'+obj.data.id,'','',true);
	          break;
	        case 'more':// 状态
	          parent.xadmin.add_tab(obj.data.title + ' 操作','/kaoshi/index/more/'+obj.data.id,true);
	          break;
        };
      });
    });
</script>
{/block}
