
{extend name="common@list" /}
{block name="jsset"}

{/block}
{block name="nav"}
	<span class="layui-breadcrumb">
		<a href="">管理员管理</a>
		<a href="">权限管理</a>
		<a><cite>权限列表</cite></a>
	</span>
{/block}
{block name="search"}
	<div class="layui-form layui-form-pane layui-col-md12 x-so" id="search" lay-filter="search">
		<div class="layui-form-item">
          <label for="searchval" class="layui-form-label">
              关键字
          </label>
          <div class="layui-input-block">
              <input type="text" id="searchval" name="searchval" autocomplete="off" class="layui-input">
          </div>
        </div>
	</div>
{/block}
{block name="table"}
	<table id="tabledemo" lay-filter="mytable" lay-size="sm"></table>
{/block}
{block name="myjs"}
	<!-- 表格上面按钮模板 -->
<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-danger" lay-event="dels">
			<i class="iconfont">&#xe69d;</i> 批量删除
		</button>
		<button class="layui-btn" lay-event="add">
			<i class="iconfont">&#xe6b9;</i> 添加
		</button>
	</div>
</script>
<!-- 记录操作按钮模板 -->
<script type="text/html" id="barDemo">
	<a class="layui-btn-xs" lay-event="edit" title="编辑"><i class="layui-icon">&#xe642;</i></a>
	<a class="layui-btn-xs" lay-event="del" title="删除"><i class="layui-icon">&#xe640;</i></a>
</script>
<!-- 表格操作 -->
<script>
layui.use(['table','laypage','form','cjgl'], function(){
	
	// 声明变量
	var table = layui.table
		,form = layui.form
		,cjgl = layui.cjgl;


	// 实例化表格
	var tableIns = table.render({
		elem: '#tabledemo',
		toolbar: '#toolbarDemo',
		url:"{:url('ajaxdata')}",
		method:"POST",   //数据接口
		page: true, //开启分页
		loading:true,
		autoSort:false,
		id:'mytable',
		defaultToolbar:'',
		cols: [[ //表头
			{type:'checkbox', fixed: 'left'},
			{field: 'title', title: '名称',sort: true, minWidth:100},
			{field: 'name', title: '规则', minWidth:130,sort: true},
			{field: "condition",title: '表达式',sort: true},
			{field: 'pid', title: '父级权限',sort: true,templet:function(d){
				var str='';
				if(d.auth_pid)
				{
					str = d.auth_pid.title;
				}
				return str;
			}} ,
			{field: 'paixu', title: '排序',sort: true},
			{field: 'url', title: '菜单地址', sort: true},
			{field: 'status', title: '状态',templet:'#status', sort: true},
			{field: 'id', title: '操作',toolbar: '#barDemo',minWidth:140}
		]],
	});


	//监听排序事件
    table.on('sort(mytable)', function(obj){ //注：tool是工具条事件名，mytable是table原始容器的属性 
      // 获取表单值
      var formval = cjgl.getSearchVal('#search');
      // 获取排序字段及排序方式
      var mydata = {};
      mydata['field']=obj.field;
      mydata['order']=obj.type;
      //合并参数
      var wheredata = $.extend(formval,mydata);
      // 重载表格
      tableIns.reload({
      	where: wheredata
      	,done:function(){
            for(x in formval)
            {
              delete this.where[x];
            }
          }
        ,page:{
                curr:1
            }
      });
    });


    //头工具栏事件
    table.on('toolbar(mytable)', function(obj){
        switch(obj.event){
          case 'dels':
            var checkStatus = table.checkStatus('mytable'); //idmytable 即为基础参数 id 对应的值
            cjgl.delAll(checkStatus,'/authrule','mytable');
            break;
          case 'add':
            cjgl.add('添加权限','/authrule/create','','',true);
            break;
        };
    });


    //监听行工具条
    table.on('tool(mytable)', function(obj){ //注：tool是工具条事件名，mytable是table原始容器的属性 lay-filter="对应的值"
      var data = obj.data; //获得当前行数据
      var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      var tr = obj.tr; //获得当前行 tr 的DOM对象

      switch(layEvent){
        case 'detail':// 查看
          layer.msg('查看' + data.id);
          break;
        case 'del':// 删除
          cjgl.del(obj,"/authrule");
          break;
        case 'edit':// 编辑
          cjgl.add('编辑权限','/authrule/'+obj.data.id+'/edit','','',true);
          break;
        case 'status':// 状态
          cjgl.status(obj,"{:url('setstatus')}");
          break;
      };
  	});
});
</script>
{/block}