{extend name=".././view/create.html" /}
{block name="form"}
<form action="{$list.set.url}" method="{$list.set.formpost}" class="layui-form layui-form-pane" lay-filter="myform">
	<div class="layui-form-item">
		<label for="school_id" class="layui-form-label"><span class="x-red">*</span>学校</label>
		<div class="layui-input-block">
			<select name="school_id" id="school_id" lay-filter="src">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="ruxuenian" class="layui-form-label"><span class="x-red">*</span>年级</label>
		<div class="layui-input-block">
			<select name="ruxuenian" id="ruxuenian" lay-filter="src">
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label for="subject_id" class="layui-form-label">
			<span class="x-red">*</span>学科
		</label>
		<div class="layui-input-block" id="subject_id">
		</div>
	</div>
	<div class="layui-form-item">
		<label for="banji_id" class="layui-form-label">
			<span class="x-red">*</span>班级
		</label>
		<div class="layui-input-block" id="banji_id">
		</div>
	</div>
	<input type="hidden" id="kaoshi_id" name="kaoshi_id" value="{$list.set.kaoshi_id}">
	<div class="layui-form-item" style="text-align: right;">
		<button class="layui-btn" lay-filter="" lay-submit="">
			{$list.set.butname}
		</button>
	</div>
</form>
{/block}
{block name="myjs"}
<script>
layui.use(['form', 'canyuKaoshi', 'createInput'], function() {
	var form = layui.form,
		cInput = layui.createInput,
		canyu = layui.canyuKaoshi;

	canyu.schoolSelect('school_id', "{$list.set.kaoshi_id|default=''}");
	canyu.gradeSelect('ruxuenian', "{$list.set.kaoshi_id|default=''}");

	// 监听学校下拉菜单
	form.on('select(src)', function(data) {
		data = form.val("myform");
		if (data.school_id > 0 && data.ruxuenian > 0) {
			canyu.banjiCheckbox('banji_id', data);
			canyu.subjectCheckbox('subject_id', data);
		}
	});

	form.on('checkbox(mycheackbox)', function(data) {
		cInput.checkboxChecked(data);
	});
});

</script>
{/block}
