{extend name=".././view/createhref.html" /}
{block name="form"}
    <div class="x-nav">
        <span class="layui-breadcrumb">
          <a href="">成绩采集</a>
          <a><cite>表格录入</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div style="padding: 10px; background-color: #F2F2F2;">
      <div class="layui-row layui-col-space15">
        
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">
              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend>1、表格下载</legend>
              </fieldset>
            </div>
            <div class="layui-card-body" style="min-height: 300px;">
              <form class="layui-form layui-form-pane" lay-filter="myform" method="{$list.set.formpost}" action="{$list.set.url}">
                <div class="layui-form-item">
                  <label for="kaoshi" class="layui-form-label"><span class="x-red">*</span>考试</label>
                  <div class="layui-input-block">
                    <select name="kaoshi" id="kaoshi" lay-verify="required">
                      <option value="">请选择考试</option>
                      {volist name="list.data" id="vo"}
                        <option value="{$vo.id}"> {$vo.title} </option>
                      {/volist}
                    </select>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label for="mysubject" class="layui-form-label">
                    <span class="x-red">*</span>学科
                  </label>
                  <div class="layui-input-block" id="subject">

                  </div>
                </div>
                <div class="layui-form-item">
                  <label for="school" class="layui-form-label"><span class="x-red">*</span>学校</label>
                  <div class="layui-input-block">
                    <select name="school" id="school" lay-verify="required">
                      <option value="">请选择学校</option>

                    </select>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label for="ruxuenian" class="layui-form-label">
                    <span class="x-red">*</span>年级
                  </label>
                  <div class="layui-input-block">
                    <select name="ruxuenian" id="ruxuenian" lay-verify="required" class="layui-form-label">
                      <option value="">请选择年级</option>

                    </select>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label for="banji" class="layui-form-label">
                    <span class="x-red">*</span>班级
                  </label>
                  <div class="layui-input-block" id="banji">
                  </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <button  class="layui-btn" lay-filter="download" lay-submit="">
                        {$list.set.butname}
                    </button>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">
              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend>2、表格上传</legend>
              </fieldset>
            </div>
            <div class="layui-card-body" style="min-height: 300px">
              <form class="layui-form layui-form-pane" lay-filter="myform">
                <div class="layui-form-item">
                  <label for="school" class="layui-form-label"><span class="x-red">*</span>文件地址</label>
                  <div class="layui-input-block">
                    <input type="text" id="url" name="url" autocomplete="off" class="layui-input " value="" placeholder="地址" readonly>
                  </div>
                </div>
              </form>
              <div class="layui-card-body layui-upload-drag" id="upload" style="min-height: 125px; width: 90%">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
              </div>
              <div class="layui-form-item" style="text-align: center; margin-top: 16px">
                <button  class="layui-btn" lay-filter="upload" lay-submit="">
                  上传
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 10px; background-color: #F2F2F2;">
      
    </div>
    
    

 
{/block}

{block name="myjs"}
<script>
		//执行实例
    var uploadInst = upload.render({
      elem: '#upload' //绑定元素
      ,url: "/renshi/teacher/upload" //上传接口
      ,done: function(res){
        if(res.val == 1){
          $('#url').val(res.url);
        }else{
          layer.msg(res.msg);
        }
      }
      ,data: {
        category: '1011103'
        ,serurl:'chengji'

      }
      ,acceptMime:'.xls,.xlsx'
      ,exts:'xls|xlsx'
      ,auto:true
      ,error: function(){
        //请求异常回调
      }
    });

    // 上传
    form.on('submit(upload)', function(data){
      url=$("#url").val();
      if(url.length==0)
      {
        layer.msg('请先上传文件。');
        return false;
      }
      $.post("/chengji/luru/saveall",{"url":url},function(result){
        if(result.val == 1)
        {
          $("#url").val('');
        }
        layer.msg(result.msg);
      });
      return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });



    // 监听选择按钮
  form.on('select', function(data){
    var myselectname = $(data.elem).attr('name');
    if(myselectname == 'school' || myselectname == 'ruxuenian'){
      mybanji();
    }else if(myselectname == 'kaoshi'){
      mykaoshiinfo();
    }
  });

  // 根据考试ID获取参加考试的学校和年级
  function mykaoshiinfo(){
    var kaoshi = $("#kaoshi").val();

    // 删除原来已有值
    $('#subject').children().remove();
    $('#school').children().remove();
    $('#ruxuenian').children().remove();
    $('#banji').children().remove();
    $('#subject').append('<input type="checkbox" title="全选" lay-skin="primary" fid="subjectF" ceng="parent">');
    $('#school').append(new Option('请选择学校',''));//往下拉菜单里添加元素
    $('#ruxuenian').append(new Option('请选择入学年',''));//往下拉菜单里添加元素
    $('#banji').append('<input type="checkbox" title="全选" lay-skin="primary" fid="banjiF" ceng="parent">');

    $.ajax({
      url:"/kaoshi/index/kaoshiinfo/"+kaoshi,
      dataType:'json',
      type:'post',
      success:function(data){
        $.each(data.school,function(index,item){
          $('#school').append(new Option(item.cjSchool.title,item.school));//往下拉菜单里添加元素
        })
        $.each(data.nianji,function(index,item){
          $('#ruxuenian').append(new Option(item.nianjiname,item.nianji));//往下拉菜单里添加元素
        })
        $.each(data.subject,function(index,item){
          $('#subject').append('<input type="checkbox" title="'+item.subjectName.title+'" value="'+item.subjectName.id+'" lay-skin="primary" name="subject[]" ceng="children" cid="subjectF">');
        })
        form.render();//菜单渲染 把内容加载进去
      },
      error:function(data){
        form.render();//菜单渲染 把内容加载进去
      },
    })

  }

  //获取班级列表并更新
  function mybanji(){
    // 获取表单值
    var school = $("#school").val()
    ,ruxuenian = $("#ruxuenian").val()
    ,kaoshi = $("#kaoshi").val();

    if(school=='' || ruxuenian=='')
    {
      return true;
    }
  
    // 获取节点
    var bj = $("#banji");

    // 删除原来已有值
    $(bj).children().remove();
    $(bj).append('<input type="checkbox" title="全选" lay-skin="primary" fid="banjiF" ceng="parent">');

    // 获取班级列表
    $.ajax({
        url:"/kaoshi/index/cybanji",
        type:"POST",
        data:{
          school:school
          ,ruxuenian:ruxuenian
          ,kaoshi:kaoshi
        },
        dataType:'json',
        success:function(result){
          if(result.length > 0){
            result.forEach(function(val,index){
              $(bj).append('<input type="checkbox" title="'+val.banTitle+'" value="'+val.id+'" lay-skin="primary" name="banjiids[]" ceng="children" cid="banjiF">');
            })
          }
          form.render('checkbox'); //刷新select选择框渲染
        },
        error:function(xhr,status,error) {
          layer.msg('数据处理错误',{
              icon: 2,
              time: 2000 //2秒关闭（如果不配置，默认是3秒）
          });
        }
    });
  }

  form.on('checkbox()', function(data){
    var myelem = data.elem
      ,ischecked = data.elem.checked
      ,ceng = $(myelem).attr('ceng')
      ,fid = $(myelem).attr('fid')
      ,cid = $(myelem).attr('cid');
    switch(ceng){
      case 'children':
        selectParent(cid,ischecked);
        break;
      case 'parent':
        selectChildren(fid,ischecked);
        break;
    };
  });  

  // 更改父选项
  function selectParent(fid,checked)
  {
    if(checked==true)
    {
      $("input[fid="+fid+"]").prop('checked',true);
      form.render('checkbox');
    }
  }
  // 更改子选项
  function selectChildren(cid,checked)
  {
    if(checked == true)
    {
      $("input[cid='"+cid+"']").prop('checked',true);
    }else{
      $("input[cid='"+cid+"']").prop('checked',false);
    }
    form.render('checkbox');

  }







  });

</script>
{/block}

