{extend name="common@list" /}
{block name="topnav"}
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span> 考试管理
		<span class="c-gray en">&gt;</span> 考试列表
		<a class="btn btn-success radius r"
			style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);"
			title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
	</a>
	</nav>
{/block}
{block name="bouttons"}
	
{/block}
{block name="tables"}
	


{/block}
{block name="myjs"}
<script type="text/javascript">

	// 定义DTajax参数
	var myajax = {

	};

	// 定义列参数
	var mycolumns = [

	];

	// 定义修改列参数
	var mycolumnDefs =[

	];
</script>
{/block}