{extend name="common@list" /}
{block name="topnav"}
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span> 考试管理
		<span class="c-gray en">&gt;</span> 考试操作
		<a class="btn btn-success radius r"
			style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);"
			title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
	</a>
	</nav>
{/block}
{block name="bouttons"}
	
{/block}
{block name="tables"}
<div class="text-c mt-50">
	<ul class="icon_lists clearfix">
		<li class="f-l ml-20 bk-gray mt-10" bk-gray style="min-width: 200px;">
			<h1>
				<a href="javascript:;" onclick=addfull("生成考号","/kaoshi/{$list['kaoshiid']}/kaohao") style="text-decoration:none">
					<i class="Hui-iconfont Hui-iconfont-tags"></i>
				</a>
			</h1>
			<span>生成考号</span>
		</li>
		<li class="f-l ml-20 bk-gray mt-10" style="min-width: 200px">
			<h1>
				<a href="javascript:;" onclick=addfull('下载试卷标签',"/kaoshi/{$list['kaoshiid']}/biaoqian") style="text-decoration:none">
					<i class="Hui-iconfont Hui-iconfont-2code"></i>
				</a>
			</h1>
		<span>下载试卷标签</span>
		</li>
		<li class="f-l ml-20 bk-gray mt-10" style="min-width: 200px">
			<h1>
				<a href="javascript:;" onclick=addfull('下载成绩采集表',"/kaoshi/{$list['kaoshiid']}/caiji") style="text-decoration:none">
					<i class="Hui-iconfont Hui-iconfont-menu"></i>
				</a>
			</h1>
			<span>下载成绩采集表</span>
		</li>
	</ul>
</div>
<div class="text-c">
	<ul class="icon_lists clearfix">
		<li class="f-l ml-20 bk-gray mt-10" bk-gray style="min-width: 200px">
			<h1>
				<a data-href="/chengji/{$list['kaoshiid']}/chengjilist" data-title="{$list.kstitle}成缚列表|{$list['bfdate']}" onClick="Hui_admin_tab(this)" style="text-decoration:none">
					<i class="Hui-iconfont Hui-iconfont-moban-2"></i>
				</a>
			</h1>
			<span>成绩列表</span>
		</li>
		<li class="f-l ml-20 bk-gray mt-10" bk-gray style="min-width: 200px">
			<h1>
				<a data-href="/cjtongji/{$list['kaoshiid']}/nianji" data-title="{$list.kstitle}成绩统计｜{$list['bfdate']}" onClick="Hui_admin_tab(this)" style="text-decoration:none">
					<i class="Hui-iconfont Hui-iconfont-tongji-bing"></i>
				</a>
			</h1>
			<span>年级成绩统计</span>
		</li>
	</ul>
</div>
	


{/block}
{block name="myjs"}
<script type="text/javascript">

	// 定义DTajax参数
	var myajax = {

	};

	// 定义列参数
	var mycolumns = [

	];

	// 定义修改列参数
	var mycolumnDefs =[

	];

	$('h1').mouseenter(function(){
		$(this).animate({
			fontSize:'50px',
		});
	});
	$('h1').mouseleave(function(){
		$(this).animate({
			fontSize:'36px',
		});
	});
	
</script>
{/block}