
{extend name=".././view/list.html" /}
{block name="jsset"}

{/block}
{block name="nav"}
<span class="layui-breadcrumb">
	<a href="">考试管理</a>
	<a><cite>考试设置</cite></a>
</span>
{/block}
{block name="search"}
<input type="hidden" name="kaoshi_id" id="kaoshi_id" value="{$list.kaoshi_id}">
<div class="layui-form-item">
      <label for="searchval" class="layui-form-label">
          关键字
      </label>
      <div class="layui-input-block">
          <input type="text" id="searchval" name="searchval"
          autocomplete="off" class="layui-input">
      </div>
    </div>
<div class="layui-form-item">
    <label for="ruxuenian" class="layui-form-label" style="height: 100%">年级</label>
    <div class="layui-input-block">
    	<input type="radio" name="ruxuenian" title="无" value="" lay-skin="primary" checked="">
    	{volist name="list.nj" id="vo"}
    		<input type="radio" name="ruxuenian" title="{$vo.nianjiname}" value="{$vo.ruxuenian}" lay-skin="primary">
    	{/volist}
    </div>
</div>
<div class="layui-form-item">
	<label for="subject_id" class="layui-form-label" style="height: 100%">学科</label>
	<div class="layui-input-block" id="subject_id">

	</div>
</div>
{/block}
{block name="table"}
<table id="tabledemo" lay-filter="mytable" lay-size="sm"></table>
{/block}
{block name="myjs"}
<!-- 表格上面按钮模板 -->
<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-danger" lay-event="dels">
			<i class="iconfont">&#xe69d;</i> 批量删除
		</button>
		<button class="layui-btn" lay-event="add">
			<i class="iconfont">&#xe6b9;</i> 添加
		</button>
	</div>
</script>
<!-- 记录操作按钮模板 -->
<script type="text/html" id="barDemo">
	<a class="layui-btn-xs" lay-event="del" title="删除"><i class="layui-icon">&#xe640;</i></a>
</script>
<!-- 表格操作 -->
<script>

  // 设置列
  options.cols=[[ //表头
	  {type:'checkbox', fixed: 'left'},
	  {field: 'admin_id', title: '教师',sort: true,templet:function(d){
	  	var str='';
	  	if(d.fgAdmin)
	  	{
	  		str = d.fgAdmin.xingming;
	  	}
	  	return str;
	  }},
	  {field: "banji_id",title: '班级',sort: true,templet:function(d){
	  	var str='';
	  	if(d.fgBanji)
	  	{
	  		str = d.fgBanji.banjiTitle;
	  	}
	  	return str;
	  }},
	  {field: 'subject_id', title: '学科',sort: true,templet:function(d){
	  	var str='';
	  	if(d.fgSubject)
	  	{
	  		str = d.fgSubject.title;
	  	}
	  	return str;
	  }},
	  {field: 'id', title: '操作',toolbar: '#barDemo',minWidth:80},
  ]];

	// 提交搜索条件后重载表格
	layui.use(['table','cjgl'],function(){
	  	var table = layui.table
		  	cjgl = layui.cjgl
		  	form = layui.form;

  		addSubject();
  		//表头工具栏事件
  		table.on('toolbar(mytable)', function(obj){
	      	switch(obj.event){
	      		case 'dels':
		            var checkStatus = table.checkStatus('mytable'); //idmytable 即为基础参数 id 对应的值
		            cjgl.delAll(checkStatus,'/kaoshi/lrfg/delete','mytable');
		            break;
	            case 'add':
		            cjgl.add('成绩录入分工设置','/kaoshi/lrfg/create/'+"{$list.kaoshi_id}",'650','400', false);
		            break;
	        };
	    });

	    //监听行工具条
	    table.on('tool(mytable)', function(obj){
	        var data = obj.data; //获得当前行数据
	        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	        var tr = obj.tr; //获得当前行 tr 的DOM对象
	        switch(layEvent){
		        case 'del':// 删除
		        	cjgl.del(obj,"/kaoshi/lrfg/delete");
		        	break;
		        case 'tongji':// 编辑
			        defenlv(obj.data);
			        break;
		        case 'edit':// 编辑
			        cjgl.add('编辑','/kaoshi/lrfg/edit/' + obj.data.id, '650', '400', false);
			        break;
		    };
		});

		// 监听表单提交
		form.on('radio', function(data){
			// 获取数据
			addSubject();
			$("#srcsubmit").click();
		});

		// 添加班级列表
		function addSubject(){
	    	// 获取参数
	    	formval = form.val("search");
	    	cjgl.createCheckbox('subject_id', formval, '/tools/kscy/subject', 'subject_id');
	    }

	    // 统计成绩
	    function defenlv(obj){
	    	var val;
	    	val = {
	    		'kaoshi_id':obj.kaoshi_id
	    		,'subject_id':obj.subject_id
	    		,'ruxuenian':obj.ruxuenian
	    	}
	    	$.ajax({
	    		url:'/chengji/tongji/editdfl',
	    		data:val,
	    		type:'POST',
	    		success: function(data, status) {
	    			layer.msg(data.msg);
	    		},
	    		error: function(data, status) {
	    			layer.msg(data.msg);
	    		},
	    	});
	    }
	});
</script>
{/block}
