<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>{$list.title}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    {load href="__STATIC__/xadmin/css/font.css" /}
    {load href="__STATIC__/xadmin/css/xadmin.css" /}
    {load href="__STATIC__/xadmin/js/jquery.min.js" /}
    {load href="__STATIC__/xadmin/lib/layui/layui.js" /}
    {load href="__STATIC__/xadmin/js/xadmin.js" /}
    {load href="__STATIC__/xadmin/js/cookie.js" /}
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="x-body">
    	{block name="form"}{/block}
    </div>
    {block name="myjs"}{/block}
  </body>
</html>