{extend name="common@create" /}
{block name="mycss"}
{/block}
{block name="formaa"}
	<form action="/jsry/{$list.id}" method="PUT" class="form form-horizontal" id="form-member-add">
		{php}
			dump($list);
		{/php}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">荣誉册标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.title}" placeholder="荣誉标题" id="title" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>荣誉类型：</label>
			<div class="formControls col-xs-8 col-sm-9 f-l">
				<span class="select-box f-l" style="width:180px;">
				{php}$category = getCategory(112);{/php}
				<select class="select" id="category" name="category" size="1" required>
					<option value="">--请选择荣誉类型--</option>
					{volist name="category" id="vo"}
						<option value="{$vo.id}" {eq name="$list.category" value="$vo['id']" }selected{/eq}>{$vo.title}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>颁奖单位：</label>
			<div class="formControls col-xs-8 col-sm-9 f-l">
				<span class="select-box f-l" style="width:300px;">
				{php} $school = schlist('区级','其它级');{/php}
				<select class="select" id="fzschool" name="fzschool" size="1" required>
					<option value="">--请选择颁奖单位--</option>
					{volist name="school" id="vo"}
						<option value="{$vo.id}" {eq name="$list.fzschool" value="$vo['id']" }selected{/eq}>{$vo.title}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>获奖时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text Wdate" value="{$list.fzshijian}" placeholder="" id="fzshijian" name="fzshijian" onclick="WdatePicker({isShowClear:false,readOnly:true})" style="width: 180px">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
{/block}
{block name="yanzheng"}
<script type="text/javascript">
	// 匹配用户名
	$.validator.addMethod("zh",function(value,element){
		var tel = /^[\u4e00-\u9fa5]*$/;
		return this.optional(element) || tel.test(value);
	}, "请输入中文");

	// 设置表单验证规则
	var myrules = {
			title:{
				maxlength:30,
			},
			fzshijian:{
				required:true,
				dateISO:true
			},
		};

	// 设置表单提交方式
	var mytype = 'PUT';

	
</script>
{/block}