{extend name="common@create" /}

{block name="form"}
    <form class="layui-form layui-form-pane" lay-filter="myform">
          <div class="layui-form-item">
    		    <label for="school" class="layui-form-label"><span class="x-red">*</span>学校</label>
    		    <div class="layui-input-block">
    		    	{php} $schoollist = schlist('校级','校级');{/php}
    		      <select name="school" lay-verify="required">
    		      	<option value=""></option>
    		      	{volist name="schoollist" id="vo"}
                  <option value="{$vo.id}"
                  {present name="$list.data.school"}
                    {eq name="$list.data.school" value="$vo.id" }
                      selected
                    {/eq}
                  {/present}>
                    {$vo.title}
                  </option>
    		        {/volist}
    		      </select>
    		    </div>
    		  </div>
          <div class="layui-form-item">
            <label for="ruxuenian" class="layui-form-label"><span class="x-red">*</span>年级</label>
            <div class="layui-input-block">
              <select name="ruxuenian" lay-verify="required">
                <option value=""></option>
                {foreach :nianjiList() as $key=>$vo }
                  <option value="{$key}">{$vo}</option>
                {/foreach}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
              <label for="bjsum" class="layui-form-label">
                  班级数
              </label>
              <div class="layui-input-block">
                  <input type="input" id="bjsum" name="bjsum" lay-verify=""
                  autocomplete="off" class="layui-input" value="" placeholder="最多可填25个班级">
              </div>
          </div>
          <div class="layui-form-item" style="text-align: right;">
              <button  class="layui-btn" lay-filter="mysubmit" lay-submit="">
                  {$list.set.butname}
              </button>
          </div>
      </form>
{/block}

{block name="myjs"}
    
{/block}

